
<!DOCTYPE html>
<html>

<head>
    <title>Chocobo.com</title>
    <link rel="stylesheet" href="Template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inter'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <header-main></header-main>
    <div style="align-content: center;margin-bottom: 10%;">
        <img src="title/image-title.png" id="headphoto">
        <div class="search-bar">
            <div>
                <select id="tripType" class="select-box">
                    <option>Round trip</option>
                    <option>One way</option>
                    <option>Multi-city</option>
                </select>
                <input class="select-box" id="passenger-num" style="width: 3rem; text-align: center;" value="1">
                <select id="seatType" class="select-box">
                    <option>Economy</option>
                    <option>Business</option>
                </select>
            </div>
            <div>
                <input id="city-left" class="search-city" value="Departure">
                <button id="swap-city">ปุ่ม</button>
                <input id="city-right" class="search-city" value="Arrival">
                <button id="search-button" class="search-city">Search</button>
            </div>
        </div>
    </div>
    <section id="slider">
        <div class="container">
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div style="bottom: 5%;">
                        <h3>Intrested place</h3>
                    </div>
                    <div class="Intrestplace-slide">
                        <div class="slide">
                            <div class="slider-img img-1" >
                                <a href="#">Just to test1</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-2">
                                <a href="#">Just to test2</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-3">
                                <a href="#">Just to test3</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-4">
                                <a href="#">Just to test4</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-5">
                                <a href="#">Just to test5</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-6">
                                <a href="#">Just to test6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subcontainer">
                <div class="slider-wrapper">
                    <div style="bottom: 5%;">
                        <h3>Promotion</h3>
                    </div>
                    <div class="promotion-slide">
                        <div class="slide">
                            <div class="slider-img img-1" >
                                <a href="#">Just to test1</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-2">
                                <a href="#">Just to test2</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-3">
                                <a href="#">Just to test3</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-4">
                                <a href="#">Just to test4</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-5">
                                <a href="#">Just to test5</a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slider-img img-6">
                                <a href="#">Just to test6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-main></footer-main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="slidercontrol.js"></script>
    <script src="script.js"></script>
    <script src="header-footer.js"></script>
</body>


</html>